@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-family: sans-serif;
    color: black;
}
caption {
    padding: 6px 3px 3px 1px;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
}
td , th {
    border: 1px solid black;
    padding: 1px 3px;
}

.code {
    font-family: Consolas, monospace;
}
