.minThTable {
    table-layout: auto;
}
.minThTable > thead > tr > td ,
.minThTable > tbody > tr > td {
    width: 100%;
}
.minThTable > thead > tr > th ,
.minThTable > tbody > tr > th {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
